<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hantavirose</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class=conteudo>
    
    <h1>Hantavirose: o que é, causas, sintomas, tratamento, diagnóstico e prevenção</h1>


    A Hantavirose é uma zoonose viral aguda, cuja infecção em humanos, no Brasil, se apresentam na forma da Síndrome Cardiopulmonar por Hantavírus.<br><br>
     Na América do Sul, foi observado importante comprometimento cardíaco, passando a ser denominada de Síndrome Cardiopulmonar por Hantavírus (SCPH).<br><br>
      Os hantavírus possuem como reservatórios naturais alguns roedores silvestres, que podem eliminar o vírus pela urina, saliva e fezes. Os roedores podem carregar o vírus por toda a vida sem adoecer.<br>
       A hantavirose é causada por um vírus RNA, pertencente à família Bunyaviridae, gênero Hantavirus.
       <br><br>


  <h3>Quais são os sintomas da hantavirose?</h3>


  Na fase inicial, a Hantavirose causa os seguintes sintomas:

<li>febre;
  <li>dor nas articulações;
    <li>dor de cabeça;
      <li>dor lombar;
        <li>dor abdominal;
          <li>sintomas gastrointestinais.

</li><br>
Na fase cardiopulmonar, os sintomas da hantavirose são:
<br><br>
<li>febre;
<li>dificuldade de respirar;
<li>respiração acelerada;
<li>aceleração dos batimentos cardíacos;
<li>tosse seca;
<li>“pressão baixa”.
</li>

<br>
Fonte:http://antigo.saude.gov.br/saude-de-a-z/hantavirose

<br><br><br>
Saiba mais em: 
<ion-list><ion-button color="primary" expand="block" [routerLink]="['https://sites.google.com/view/azview/']">Azview</ion-button></ion-list>
    
  </div>

</ion-content>
