<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Últimas informações Covid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class=conteudo>
    
  <img src="../../assets/icon/covid.PNG" width="auto-hide"/><br>
 <div class=p> A Covid-19 é uma infecção respiratória aguda causada pelo coronavírus SARS-CoV-2, potencialmente grave, de elevada transmissibilidade e de distribuição global.
 <br>
O SARS-CoV-2 é um betacoronavírus descoberto em amostras de lavado broncoalveolar obtidas de pacientes com pneumonia de causa desconhecida na cidade de Wuhan, província de Hubei, China, em dezembro de 2019. Pertence ao subgênero Sarbecovírus da família Coronaviridae e é o sétimo coronavírus conhecido a infectar seres humanos.
<br>
Os coronavírus são uma grande família de vírus comuns em muitas espécies diferentes de animais, incluindo o homem, camelos, gado, gatos e morcegos. Raramente os coronavírus de animais podem infectar pessoas e depois se espalhar entre seres humanos como já ocorreu com o MERS-CoV e o SARS-CoV-2. Até o momento, não foi definido o reservatório silvestre do SARS-CoV-2.
<br>
<br>
Fonte: Ministério da Saúde,08/04/2021 19h21
<br><br><br>
Saiba mais em: 
<ion-list><ion-button color="primary" expand="block" [routerLink]="['https://sites.google.com/view/azview/']">Azview</ion-button></ion-list>
 </div>
</div>
</ion-content>
