<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Como prevenir</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class=conteudo>

    <img src="../../assets/icon/sintomasebola.PNG" width="auto-hide"/><br>

  Atualmente diversas vacinas estão sendo testadas, mas nenhuma delas está disponível para uso clínico, no momento.<br>
  <br> Ainda não há tratamento licenciado comprovado para neutralizar o vírus, mas uma gama de tratamentos potenciais incluindo produtos sanguíneos, terapias imunológicas e medicamentosas estão em desenvolvimento. O tratamento, a princípio, se restringe ao controle dos sintomas e medidas de suporte/estabilização do paciente. É importante iniciar o tratamento de maneira oportuna, para aumentar as chances de sobrevivência dos pacientes.<br><br>
  Uma vacina experimental contra o vírus ebola provou ser altamente protetora. Um grande teste foi realizado na Guiné em 2015 e a vacina chama rVSV-ZEBOV, várias pessoas foram envolvidas  no teste. A estratégia utilizada foi a vacinação em anel e  sua dose foi considerada segura e eficaz e todas as pessoas que tiveram contato com um novo caso confirmado de ebola foram rastreadas e receberam a dose no intuito de frear a transmissão do vírus. Essa estratégia também foi utilizada no 9º e 10º (em andamento) na República Democrática do Congo.<br><br>
  Nos países onde há transmissão do Ebola, a melhor maneira de se prevenir é evitar contato com o sangue ou secreções de animais ou pessoas doentes, ou com o corpo de pessoas falecidas em decorrência dessa doença, durante rituais de velório.<br><br>
 <br> <br> Desta forma, as principais medidas de prevenção do Ebola são:<br>

 <br>Evite áreas de surto
 <br>Lave as mãos com frequência.
 <br>Evite contato com pessoas infectadas.
 <br>Não manuseie corpos de pessoas infectadas.
 <br><br><br>
Saiba mais em: 
<ion-list><ion-button color="primary" expand="block" [routerLink]="['https://sites.google.com/view/azview/']">Azview</ion-button></ion-list>
</div>
</ion-content>
