<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cuidados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class=conteudo>
 <h3>Fale com a autoridade de saúde local se quiser informações sobre as orientações mais relevantes para sua região.</h3>
<br>Para evitar a propagação da COVID-19, siga estas orientações:
<br>Mantenha uma distância segura de outras pessoas (pelo menos 1 metro), mesmo que elas não pareçam estar doentes.
<br>Use máscara em público, especialmente em locais fechados ou quando não for possível manter o distanciamento físico.
<br>Prefira locais abertos e bem ventilados em vez de ambientes fechados. Abra uma janela se estiver em um local fechado.
<br>Limpe as mãos com frequência. Use sabão e água ou álcool em gel.
<br>Tome a vacina quando chegar a sua vez. Siga as orientações locais para isso.
<br>Cubra o nariz e a boca com o braço dobrado ou um lenço ao tossir ou espirrar.
<br>Fique em casa se você sentir indisposição.
<br><br><br>
Saiba mais em: 
<ion-list><ion-button color="primary" expand="block" [routerLink]="['https://sites.google.com/view/azview/']">Azview</ion-button></ion-list>
</div>
</ion-content>
