.flex-center {
    max-width: 100%;
    font-family: gotham, arial, helvetica, sans-serif;
    font-size: 22px;
    padding: auto;
    margin: auto;
}

.conteudo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: auto;
    margin: auto;
}