<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Covid </ion-title>
  </ion-toolbar>
    
</ion-header>

<ion-content>
  
  
  <div class="conteudo">

  
    <ion-card>
      
      <ion-card-header>
        
        <ion-card-title>Últimas noticias</ion-card-title>
        <ion-card-subtitle>Um dos virus mais mortais dos últimos tempos!</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        É um vírus que causa uma doença respiratória —a covid-19— pelo agente coronavírus, identificado em dezembro de 2019 na China. Os coronavírus são uma grande família viral, conhecidos desde meados de 1960, que causam infecções respiratórias em seres humanos e em animais. Geralmente, infecções por coronavírus causam doenças respiratórias leves a moderadas, semelhantes a um resfriado comum.
      

        <p>
          <ion-text color="dark" [routerLink]="['./desc2']">Saiba mais...</ion-text></p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      
      <ion-card-header>
        <ion-card-title>Cuidados!</ion-card-title>
        
        <ion-card-subtitle>Proteja a si mesmo e as pessoas ao seu redor conhecendo conhecendo os fatos!</ion-card-subtitle>
        
      </ion-card-header>
    
      <ion-card-content>
        
        Procure atendimento médico se tiver febre, tosse e dificuldade para respirar. Ligue com antecedência para o órgão prestador de cuidados de saúde e peça direcionamento à unidade mais adequada. Isso protege você e evita a propagação de vírus e outras infecções.

        
      

        <p>
          <ion-text color="dark" [routerLink]="['./desc1']">Saiba mais...</ion-text></p>
      </ion-card-content>
    </ion-card>

  </div> 
</ion-content>
