<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Últimas noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class=conteudo>

<br>Cepas do vírus da gripe que atacam principalmente aves, mas que também podem infectar os seres humanos.
<br>Esse tipo de gripe costuma ser contraído pelo contato com aves doentes. Também pode ser transmitido de pessoa para pessoa.
<br>Os sintomas começam dentro de dois a oito dias e podem ser semelhantes aos da gripe comum. Tosse, febre, dor de garganta, dores musculares, dor de cabeça e falta de ar podem ocorrer.
<br>A doença pode ter um alto índice de mortalidade em humanos. Alguns medicamentos antivirais, se tomados em até dois dias depois do aparecimento dos sintomas, podem ajudar.

<br><br><br>
Saiba mais em: 
<ion-list><ion-button color="primary" expand="block" [routerLink]="['https://sites.google.com/view/azview/']">Azview</ion-button></ion-list>
</div>

</ion-content>
