<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cuidados!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class=conteudo>
  Para nos prevenirmos da dengue, devemos, primeiramente, lutar contra o mosquito, destruindo os criadouros desse vetor.<br> 
  É importante evitar o acúmulo de água parada, limpar sempre as caixas d’água e mantê-las fechadas, trocar a água de vasos de plantas aquáticas, secar os pratinhos dos vasos de plantas, limpar os ralos, tratar a piscina com cloro e nunca descartar lixo de maneira inadequada.<br><br>
  Além disso, é importante evitar locais onde se conhece a existência de mosquitos e, quando estiver nessas regiões, utilizar roupas que cubram a maior parte do corpo e/ou fazer uso de repelentes. Mosquiteiros também podem ser utilizados para cobrir as camas, bem como telas nas janelas.<br>
  <br>
 
 <br>De acordo com o Ministério da Saúde, até o momento, existe uma vacina contra a dengue registrada na Anvisa, a qual é administrada em três doses em um período de um ano. Essa vacina não está disponível na rede pública e só pode ser aplicada em pessoas que já tiveram dengue pelo menos uma vez.
  </div>
  </ion-content>
