<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dengue</ion-title>
  </ion-toolbar>
    
</ion-header>

<ion-content>
  
  
  <div class="flex-center">
    <ion-card>
      
      <ion-card-header>
        
        <ion-card-title>Últimas noticias</ion-card-title>
        <ion-card-subtitle>Dengue</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Doença viral transmitida por mosquitos que ocorre em áreas tropicais e subtropicais.
Pessoas infectadas com o vírus pela segunda vez têm um risco significativamente maior de desenvolver doença grave...

      

        <p>
          <ion-text color="dark" [routerLink]="['./desc3']">Saiba mais...</ion-text></p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      
      <ion-card-header>
        <ion-card-title>Cuidados!</ion-card-title>
        
        <ion-card-subtitle>Dengue</ion-card-subtitle>

      
        
      </ion-card-header>
    
      <ion-card-content>
        
        Para nos prevenirmos da dengue, devemos, primeiramente, lutar contra o mosquito, destruindo os criadouros desse vetor...

        
      

        <p>
          <ion-text color="dark" [routerLink]="['./desc4']">Saiba mais...</ion-text></p>
      </ion-card-content>
    </ion-card>

</div>  
</ion-content>
