<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cuidados Hantavirus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class=conteudo>
    <h1>Como prevenir a Hantavirose?</h1><br><br>
    A prevenção das hantavirose baseia-se na utilização de medidas que impeçam o contato do homem com os roedores silvestres e suas excretas (resíduos eliminados do organismo).<br>
    
    As medidas de controle devem conter ações que impeçam a aproximação dos roedores, como, por exemplo, roçar o terreno em volta da casa, dar destino adequado aos entulhos existentes, manter alimentos estocados em recipientes fechados e à prova de roedores, além de outras medidas que impeçam a interação entre o homem e roedores silvestres, nos locais onde é conhecida a presença desses animais.<br>
    <br><br><br>
Saiba mais em: 
<ion-list><ion-button color="primary" expand="block" [routerLink]="['https://sites.google.com/view/azview/']">Azview</ion-button></ion-list>
  </div>

</ion-content>
