<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cuidados!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class=conteudo>
<br>O que fazer para prevenir?
<br>Para prevenir a gripe aviária são necessárias algumas medidas, como por exemplo:

<br>Evitar o contato direto com os animais infectados;
<br>Usar sempre botas de borracha e luvas ao tratar de aves, tendo todo cuidado de higiene necessária.
<br>Não tocar em aves mortas ou doentes;
<br>Não entrar em contato com locais com fezes de aves silvestres;
<br>Comer carne de aves bem cozida;
<br>Lavar as mãos após manusear carne crua de aves.

<br><br><br>
Saiba mais em: 
<ion-list><ion-button color="primary" expand="block" [routerLink]="['https://sites.google.com/view/azview/']">Azview</ion-button></ion-list>
</div>
</ion-content>
