<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Doença pelo vírus ebola</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class=conteudo>

    <img src="../../assets/icon/ebola.png" width="auto-hide"/><br>

  <br><br>Os seres humanos podem espalhar o vírus entre si pelo contato com fluidos corporais, como o sangue.
  <br><br>Os sintomas iniciais incluem febre, dor de cabeça, dor muscular e calafrios. Posteriormente, a pessoa pode sofrer hemorragia interna, resultando em vômitos ou tosse com sangue.
  <br><br>O tratamento é feito por meio de cuidados hospitalares paliativos.
  <br><br><br>
Saiba mais em: 
<ion-list><ion-button color="primary" expand="block" [routerLink]="['https://sites.google.com/view/azview/']">Azview</ion-button></ion-list>
</div>
</ion-content>
