<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dengue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class=conteudo>
  Doença viral transmitida por mosquitos que ocorre em áreas tropicais e subtropicais.<br>
  Pessoas infectadas com o vírus pela segunda vez têm um risco significativamente maior de desenvolver doença grave.<br>
  <br>Os sintomas são febre alta, erupções cutâneas e dores musculares e articulares. Em casos graves, há hemorragia intensa e choque hemorrágico (quando uma pessoa perde mais de 20% do sangue ou fluido corporal), o que pode ser fatal.<br>
  <br>O tratamento inclui ingestão de líquidos e analgésicos. Os casos graves exigem cuidados hospitalares.
</div>
</ion-content>
